#API Google routes
GOOGLE_MAPS_API_KEY=
DISTANCE_PROVIDER=mock
COMPANY_ADDRESS=1362 Avenue des Platanes, 34970 Lattes

#Messagerie Slack
SLACK_WEBHOOK_URL=
SLACK_TIMEOUT_SECONDS=10

# Streaming Redpanda
STREAMING_ENABLED=false
REDPANDA_BOOTSTRAP_SERVERS=localhost:19092
REDPANDA_CLIENT_ID=sport-data-poc
REDPANDA_ACTIVITIES_TOPIC=sport.activities
REDPANDA_SLACK_TOPIC=sport.slack
REDPANDA_MONITORING_TOPIC=sport.monitoring


#Durée entre deux évenements
LIVE_STREAM_MIN_INTERVAL_SECONDS=
LIVE_STREAM_MAX_INTERVAL_SECONDS=